	.zoom {
    transition: 1s; 
   }
   .zoom:hover {
    transform: scale(1.3); 
   }
	#pic {
    float: left; 
   }
   #text {
    margin-left: 10px; 
   }
   body{
   	height: 100vh;
   	padding: 10px;
   	background:linear-gradient(to bottom, white, white);
   }
	.main{
	
	background-image: url(/Hillel/img/background/back1.jpg);
	height: 300px;
	width: 100% ;
	background-size: cover;
	margin-top: -20px;
	}
	h1{
		opacity: 0.8;
		margin-left: 55px;
		margin-top: 0px;
		text-align: center;
		font-size: 65px;
		color: black;
		font-family: Courier, monospace  ;
	}
	h2{
		position:absolute;
		margin-top: 0px;
		margin-left: 66%;
		font-size: 35px;
		font-family: Courier, monospace
	}
	.img1{
		margin-left: 20%
	}
	.back1{
		background-color: #274964;
		 height: 60%;
		 width: 100%;
	}
	.back2{
		background-color: #162E48;
		height: 5px;
		 width: 100%;
	}
	.back_border{
		border: 2px solid #162E48;
		 margin-left:70px;
		 margin-right: 70px;
		 height:375px;
	}
	.back_gr1{
		height: 100vh;
		padding: 0px;
		background:linear-gradient(to bottom, #274964, #86B3D8);
	}
	.back_gr2{
		height: 60vh;
		padding: 0px;
		background:linear-gradient(to bottom, #86B3D8, white);
	}
	.back_str{
		background-color: #274964;
		 height: 3px;
		  width: 100%;
	}
	select{
		position:absolute;
		margin-top: 0px;
		font-size: 20px;
		font-family: Courier, monospace;
	}
	ul{
		margin-top: 0px;
		margin-left: 55%;
		font-size: 20px;
		font-family: Courier, monospace;
	}
	ul:first-child{
		margin-top: 7%;
	}
	.input1 {
		position:absolute;
		margin-top: 0px;
		margin-left: 27%;
		font-size: 20px;
		font-family: Courier, monospace;
	}
	.input2{
		margin-left: 45%;
		 border: 1px solid black;
		  height: 30px; 
		  margin-top: 2px 
	}
	.label1{
		position:absolute;
		margin-top: 0px;
		margin-left: 28%;
		font-size: 20px;
		font-family: Courier, monospace;
	}
	.p1{
		position:absolute;
		margin-top: 5px;
		font-size: 20px;
		border: 1px solid black;
		font-family: Courier, monospace;
	}
	.p2{
		opacity: 0.8;
		font-size: 10px;
		color: grey;
		margin-top:30px; 
		margin-left: 47%
	}
	button{
		border: 2px solid white;
		border-radius: 9px;
		margin-left: 47%;
		position:absolute;margin-top: 5px;
		font-size: 15px;
		font-family: Courier, monospace;
	}
	button:last-child{
		margin-left: 50%;
	}
	video{
		margin-left: 30%
	}